body {
    background: url("../img/flou.jpg") no-repeat;
    background-attachment: fixed;
}

.table {
    display: inline-block;
    margin-top: 20px;

}
img.logo {
	display: block;
    margin: 0 auto;
    width: 300px;
    padding: 0;
}

.panel-body p {

    padding: 25px 20px 0 10px;
}

@media (min-width: @screen-sm-min) {

    .navbar.navbar-default {
        margin-top: 20px;
    }
}
.slide{
	display: inline-block;
	margin: 20px 0 20px 0;

}
.slide+p{

	padding: 25px 0 0 40px;

}
footer{
	color: white;
}

.navbar.navbar-default, .panel-default, .breadcrumb {
    .box-shadow(3px 3px 3px rgba(0,0,0,.15));
}

.panel .panel, .panel .breadcrumb {
    .box-shadow(none);
}
