@body-bg: #ABCE40;
@link-color: @body-bg;
@navbar-border-radius: @navbar-height;
@panel-border-radius: 10px;
@panel-bg: rgba(255, 255, 255, 0.7);
@panel-default-heading-bg: none;
@panel-footer-bg: @panel-default-heading-bg;
