@body-bg: #7CA640;
@link-color: @body-bg;
@navbar-default-link-hover-color: @brand-primary;
@navbar-default-link-active-color: @brand-primary;
@badge-bg: @brand-primary;
@navbar-default-link-active-bg: none;
@navbar-border-radius: @navbar-height;
@panel-border-radius: 10px;
@panel-bg: rgba(255, 255, 255, 0.7);
@list-group-bg: transparent;
@list-group-border: #AAA;
@panel-default-heading-bg: none;
@panel-footer-bg: @panel-default-heading-bg;
